{% extends "layout.html" %}
{% block body %}
<div class=" entries pusher"> 
			<ul class="entrylist">
				{% for entry in entries.items %}
				<li class="entry">
					<div class="entrydate">{{entry.pub_date}}</div>
					<a href="{{ url_for('show_single_entry',title=entry.title) }}"><h2 class="entryheadline">{{entry.title}}</h2></a>
					<div class="entrytext">{{entry.body[:500]|safe}}</div>
					<div class="viewfull"><a href="{{ url_for('show_single_entry',title=entry.title) }}">View full post</a></div>
					<ul class="taglist">
					{% for tag in entry.taglist%}
						<li class="tag">{{tag.name}}</li>
					{%endfor%}
					</ul>	
				<div class="floatclearer"></div>
				</li>	
				{%endfor%}	
			</ul>	
				{% if entries.has_prev %}<a class="pagination_link" href="{{ url_for('show_all_entries', page = entries.prev_num) }}">&#8592;Newer posts</a>
				{% else %}Newer posts{% endif %} | 
				{% if entries.has_next %}<a class="pagination_link" href="{{ url_for('show_all_entries', page = entries.next_num) }}">Older posts&#8594;</a>
				{% else %}Older posts{% endif %}
				<br/><br/>
</div>

{% endblock %}