{% extends "layout.html" %}
{% block body %}
<div class=" entries pusher"> 
			<p class="searchresult_headline">Your search found these results:</p>
			<ul class="entrylist">
				{% for entry in entries %}
				<li class="entry">
					<div class="entrydate">{{entry.pub_date}}</div>
					<a href="{{ url_for('show_single_entry',title=entry.link) }}"><h2 class="entryheadline">{{entry.title|safe}}</h2></a>
					<div class="entrytext">{{entry.body[:500]|safe}}</div>
					<div class="viewfull"><a href="{{ url_for('show_single_entry',title=entry.link) }}">View full post</a></div>
					<ul class="taglist">
					{% for tag in entry.taglist%}
						<li class="tag">{{tag.name}}</li>
					{%endfor%}
					</ul>	
				<div class="floatclearer"></div>
				</li>	
				{%endfor%}	
			</ul>	
</div>

{% endblock %}